node_modules
dist
dist-webview
dist-electron
out
.vscode-test
*.vsix
demoData
.opencode
.claude
openspec
docs
package-lock.json
**/*.md
**/*.html
**/*.yml
**/*.yaml
src/webview/components/csv-file-tree/data.json
